.col-blue{
    color: blue;
}

.col-red{
    color: red;
}

.col-green{
    color: green;
}

.col-pink{
    color: pink;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .rectangle {
    width: 200px;
    height: 200px;
    background-color: #f0f080;
    margin: 10px;
  }

  .border-red {
    border-color: red;
  }
  